#  Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
---

- name: Include variable file omnia_config.yml
  block:
    - name: Include variable file omnia_config.yml
      ansible.builtin.include_vars: "{{ input_project_dir }}/{{ config_filename }}"
      register: include_omnia_config
      no_log: true
  rescue:
    - name: Failed to include omnia_config.yml
      ansible.builtin.fail:
        msg: "{{ omnia_config_syntax_fail_msg }} Error: {{ include_omnia_config.message }}"

- name: Validate slurm inputs
  ansible.builtin.include_tasks: validate_slurm_input.yml

- name: Validate k8s inputs
  ansible.builtin.include_tasks: validate_k8s_input.yml

- name: Initialize flag for csi powerscale driver installation
  ansible.builtin.set_fact:
    csi_driver_powerscale_precheck_pass: false

- name: Validate csi powerscale variables
  when: csi_driver_powerscale_support
  block:
    - name: Validate that csi_powerscale_driver_secret_file_path contains a valid path
      ansible.builtin.assert:
        that:
          - csi_powerscale_driver_secret_file_path is defined
          - csi_powerscale_driver_secret_file_path | length > 0
        success_msg: "{{ csi_driver_secret_file_path_success_msg }}"
        fail_msg: "{{ csi_driver_secret_file_path_fail_msg }}"

    - name: Validate that csi_powerscale_driver_values_file_path contains a valid path
      ansible.builtin.assert:
        that:
          - csi_powerscale_driver_values_file_path is defined
          - csi_powerscale_driver_values_file_path | length > 0
        success_msg: "{{ csi_driver_values_file_path_success_msg }}"
        fail_msg: "{{ csi_driver_values_file_path_fail_msg }}"

    - name: Validate user input for csi powerscale driver
      ansible.builtin.include_tasks: csi_powerscale_driver_input_validation.yml

    - name: Set flag for csi powerscale driver installation to true after assertion pass
      ansible.builtin.set_fact:
        csi_driver_powerscale_precheck_pass: true
