kube_vip_enabled: true
kube_vip_controlplane_enabled: true
kube_vip_arp_enabled: true
kube_vip_address: {{ k8s_vip }}
loadbalancer_apiserver :
  Address: {{ k8s_vip }}
  port: {{ port | default(6443) }}
kube_vip_enableServicesElection: {{ kube_vip_enableServicesElection | default(true) | lower }}
kube_vip_lb_enable: {{ kube_vip_lb_enable | default(true) | lower }}
#kube_vip_services_enabled: {{ kube_vip_services_enabled | default(false) | lower }}
