metallb_enabled: true
metallb_speaker_enabled: true
metallb_namespace: "{{ metallb_namespace | default('metallb-system') }}"
metallb_config:
  address_pools:
    primary:
      ip_range:
        - "{{ hostvars['localhost']['pod_external_ip_range'] }}"
      auto_assign: true
  layer2:
    - primary
