server = "https://{{ admin_ip }}:{{ pulp_port }}"
[host."http://{{ admin_ip }}:{{ pulp_port }}"]
  capabilities = ["pull","resolve"]
  skip_verify = {{ skip_verify | default(true) | lower | regex_replace('["\']', '') }}
  override_path = {{ override_path | default(false) | lower | regex_replace('["\']', '') }}