[Omnia-RPM-Repo{{ item.name }}]
name=Omnia-Repo-{{ item.name }}
baseurl= {{ item.base_url }}
enabled=1
gpgcheck=0
skip_if_unavailable=True
{% if proxy_status is defined and proxy_status %}
proxy=_none_
{% endif %}
{% if pulp_protocol == 'https' %}
sslverify=1
sslcacert=/etc/pki/ca-trust/source/anchors/pulp_webserver.crt
{% endif %}
