name: Ansible Lint

on:
  pull_request:
    branches:
      - main
      - staging
      - release_1.7.1
      - pub/new_architecture

jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Ansible and Ansible Lint
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      - name: Install Ansible Collections from requirements.yml
        run: |
          ansible-galaxy collection install -r .config/requirements.yml
          ansible-galaxy collection list

      - name: Set ANSIBLE_COLLECTIONS_PATH
        run: echo "ANSIBLE_COLLECTIONS_PATHS=${{ github.workspace }}/.ansible/collections:/usr/share/ansible/collections" >> $GITHUB_ENV

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        with:
          args: --config=.config/ansible-lint.yml
